@(isLogged:Boolean, isAdmin:Boolean)
<!-- navigation -->
<nav class="purple darken-3">
    <div ng-controller="navCtrl" class="nav-wrapper">
        <a href="/" class="brand-logo">Online voting</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            @if(!isLogged) {
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Login</a></li>
            }
            @if(isLogged) {
                @if(isAdmin){
                    <li><a href="/signup">Admin</a></li>
                }
                <li><a href="/login">Vote</a></li>
                <li class="logout">{{user.name}}, <a href="/logout" class="log-out">Log out</a></li>
            }
        </ul>

    </div>
</nav>