@(isLogged:Boolean)
<!-- navigation -->
<nav class="purple darken-3">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Online voting</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            @if(!isLogged) {
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Login</a></li>
            }
            @if(isLogged) {
                <li>User, <a href="#" class="log-out">Log out</a></li>
            }
        </ul>

    </div>
</nav>