@(header: String, isLogged: Boolean, isAdmin: Boolean)
@views.html.template.header(header)

@views.html.template.nav(isLogged, isAdmin)

<div ng-controller="chartCtrl">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3" ng-click="changeTab('country')"><a class="active" href="#presidential">Presidential</a></li>
            <li class="tab col s3" ng-click="changeTab('state')"><a href="#state">State</a></li>
        </ul>
    </div>

    <div id="presidential" class="col s12">
        <h4>Presidential elections</h4>

        <div class="select-container">
            <select>
                <option value="" disabled selected>Choose a country</option>
                <option ng-repeat="c in countries" value="{{::c.id}}">{{::c.name}}</option>
            </select>
        </div>

    </div>

    <div id="state" class="col s12">
        <h4>State elections</h4>

        <div class="select-container">
            <select>
                <option value="" disabled selected>Choose a state</option>
                <optgroup ng-repeat="c in countries" label="{{::c.name}}">
                    <option ng-repeat="s in c.stateList" value="{{::s.i}}">{{::s.name}}</option>
                </optgroup>
            </select>
        </div>

    </div>

    <div class="chart-container">
        <div class="dashboard row valign-wrapper">
            <div class="col s8 m8 l6">
                <h5>Statistics</h5>

                <table class="statistics-table">
                    <thead>
                        <th>Candidates</th>
                        <th>Votes</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="s in statistics">
                            <td>{{s.label}}</td>
                            <td>{{s.data}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col s4 m4 l6 valign">
                <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" responsive="false"
                width="350" height="200" style="display: block; width: 350px; height: 200px;">
                </canvas>
            </div>
        </div>
    </div>

</div>


@views.html.template.footer()