/* styles.css */
/* Primary colors #57a708 */
.brand-logo {
    margin-left: 15px;
}

.log-out {
    display: inline;
    padding: 0;
    margin-right: 15px;
}

.tabs, div {
    overflow: hidden;
}
.tabs .tab a {
    color: #6a1b9a !important;
}

.tabs .indicator {
    background-color: #6EBE44 !important;
}

.chart-container {
    padding: 10px 15% 0px 15%;
}

.dashboard {
    background-color: #efefef;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}
#presidential {
    text-align: center;
}
#state {
    text-align: center;
}
.input_field {
    color: black;
}
select {
    display: inherit !important;
}
.select-container {
    padding: 0 25%;
}